/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(251, 255, 255);
    background-size: cover; /* Optional: Adjust background size */
    background-position: center; /* Optional: Center the image */
    
}
table{
    border: 2px solid;
    align-content: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-color: rgb(186, 202, 202);
}
h3{
    color: rgb(255, 98, 0);
    text-align: center;
    width:fit-content;
    background-color:rgba(69, 69, 79, 0.411);
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(0, 0, 0, 0.768);
    border-radius: 5px;
   

    

}
header {
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.box {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.box li {
    margin: 0 15px;
    color: aliceblue;
}

.box li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.box li a:hover {
    text-decoration: underline;
}

/* Responsive images */
.image-container {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

main {
    padding: 20px;
    text-align: center;
}

/* Responsive layout */
@media (max-width: 768px) {
    .box {
        flex-direction: column;
        align-items: center;
    }

    .box li {
        margin: 10px 0;
    }

    .ove {
        padding: 10px;
        text-align: left;
    }
}
.cr{
    margin-top: 30%;
    color: cyan;
    font-size: large;
}
