{%load static%}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Achievements</title>
        <link rel="stylesheet" type="text/css" href="{% static 'a2.css'%}">
        
    </head>
    <body>
        <header>
            <nav>
                <ul class="box">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'overview' %}">Overview</a></li>
                    <li><a href="#">Chef's Excellence</a></li>
                    <li><a href="{% url 'achievements' %}">Achievements</a></li>
                    <li><a href="#">Ratings</a></li>
                </ul>
            </nav>
        </header>
                
<h3>Awards and Recognitions:</h3><br><br>

        <dl>
<dt>Multiple Michelin stars</dt>
<dd>Winner of "Best Restaurant" at the National Culinary Awards
    Recognized as "Restaurant of the Year" by Gourmet Magazine</dd><Br>

<dt>Customer Reviews and Ratings:</dt>

<dd>Consistently rated 5 stars on Yelp, TripAdvisor, and Google Reviews
    Hundreds of positive testimonials from delighted customers</dd><Br>

        
<dt>Culinary Innovations:</dt>

<dd>Introduction of the signature dish "Asus Fusion Delight," which has gained widespread acclaim
    Pioneered a unique blend of Asian and European cooking techniques</dd><br><br>



<dt>Community Involvement:</dt>
<dd>Active participant in the annual City Food Festival
    Regularly donates meals to local shelters and supports community events</dd><Br><br>



<dt> Sustainability Efforts:</dt>

<dd>Committed to zero-waste kitchen practices
    Uses locally sourced and organic ingredients</dd><Br><br>


<dt>Expansion and Growth:</dt>

<dd>Successfully opened three new locations in the past year
Achieved a 20% increase in customer base and a significant boost in revenue.</dd><br><br>


<dt>Media Coverage  </dt>

<dd>Featured in renowned magazines such as Food & Wine and Bon Appétit
Appearances on popular TV shows like "Top Chef" and "MasterChef".</dd><Br><br>

<dt>Celebrity Endorsements:</dt>

<dd>Endorsed by celebrities including culinary icon Gordon Ramsay and actor Robert Downey Jr.
    Frequent visits by high-profile personalities.
    </dd>
</dl>
</body>
</html>