<!-- base.html -->
 {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'a1.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="box">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'overview' %}">Overview</a></li>
                <li><a href="#">Chef's Excellence</a></li>
                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                <li><a href="#">Ratings</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p class="cr"> &copy; 2024 My Site. All rights reserved.</p>
    </footer>
</body>
</html>
