<html>
    <head>
        <title>menu here</title>
    </head>
    <body>
      <table>
            <Tr>
                <th>veg</th><br>
                <th>Non-veg</th>
            </tr>
            <tr>
            <td>Mushroom</td><br>
            
            <td>Chicken clear</td>
            </tr>
            <tr>
                <td>Tomato Soup</td>
                <td>Chicken Noodle Soup</td>
            </tr>
            <tr>
                <td>Vegetable Minestrone</td>
                <td>Beef Barley Soup</td>
            </tr>
            <tr>
                <td>Butternut Squash Soup</td>
                <td>Seafood Chowder</td>
            </tr>
            <tr>
                <td>Lentil Soup</td>
                <td>Turkey Rice Soup</td>
            </tr>
            <tr>
                <td>Carrot Ginger Soup</td>
                <td>Clam Chowder</td>
            </tr>
        </table>            
    </body>